.home {
    display: grid;
    justify-items: center;
    height: 100%;
}

.home h1 {
    grid-area: 1 / 1;
    font-size: 40px;
    margin: 10px;
}

.home img {
    grid-area: 1 / 1;
    align-self: center;
    width: 50vw;
}